RTTClientManagementMVC/Connected Services/ClientServiceReference/ClientDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60075/ClientDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60075/ClientDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60075/ClientDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RTTWcfService.Models" />
      <xsd:import schemaLocation="http://localhost:60075/ClientDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RTTWcfService" />
      <xsd:import schemaLocation="http://localhost:60075/ClientDataService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientDataService_InsertClientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientDetails" />
  </wsdl:message>
  <wsdl:message name="IClientDataService_InsertClientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDataService_GetClientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientDetails" />
  </wsdl:message>
  <wsdl:message name="IClientDataService_GetClientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDataService_GetClientDetails_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/RTTWcfService" name="detail" element="q1:ExceptionMessage" />
  </wsdl:message>
  <wsdl:message name="IClientDataService_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IClientDataService_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientDataService_DeleteClient_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/RTTWcfService" name="detail" element="q2:ExceptionMessage" />
  </wsdl:message>
  <wsdl:portType name="IClientDataService">
    <wsdl:operation name="InsertClientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDataService/InsertClientDetails" message="tns:IClientDataService_InsertClientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDataService/InsertClientDetailsResponse" message="tns:IClientDataService_InsertClientDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDataService/GetClientDetails" message="tns:IClientDataService_GetClientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDataService/GetClientDetailsResponse" message="tns:IClientDataService_GetClientDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientDataService/GetClientDetailsExceptionMessageFault" name="ExceptionMessageFault" message="tns:IClientDataService_GetClientDetails_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientDataService/DeleteClient" message="tns:IClientDataService_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientDataService/DeleteClientResponse" message="tns:IClientDataService_DeleteClient_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientDataService/DeleteClientExceptionMessageFault" name="ExceptionMessageFault" message="tns:IClientDataService_DeleteClient_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientDataService" type="tns:IClientDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertClientDetails">
      <soap:operation soapAction="http://tempuri.org/IClientDataService/InsertClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <soap:operation soapAction="http://tempuri.org/IClientDataService/GetClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IClientDataService/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientDataService">
    <wsdl:port name="BasicHttpBinding_IClientDataService" binding="tns:BasicHttpBinding_IClientDataService">
      <soap:address location="http://localhost:60075/ClientDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>